* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-hero-background {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 330px; of background color*/
    flex: 1;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.header-background{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container,
.header{
    width: 1260px;
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo
{
    font-weight: 900;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
    font-size: 18px;
    color: #E5E7Eb;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}

.container-left {
    width: 500px;
}

.container-left #main {
    font-size: 48px;
    font-weight: 900;
}

.container-left p {
    margin-bottom: 15px;
}

.hero-button {
    height: 30px;
    width: 100px;
    background-color: #3882F6;
    color: #FFFFFF;
    border: solid #3882F6 1px;
    border-radius: 8px;
}

.image-placeholder {
    width: 600px;
    height: 200px;
    background-color: grey; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section-background {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    flex: 1;
}

.content-container {
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-heading {
    height: 50px;
    font-weight: 800;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.information-container {
    display: flex;
    justify-content: space-around;
}
/* to add more white spacing beneath the information section adjust the height */
.illustration {
    height: 200px; 
    width: 150px;
    text-align: center;
    border: 5px;
    border-color: #3882F6;
}

.illustration-placeholder {
    height: 140px;
    border: solid 3px;
    border-radius: 15px;
    border-color: #3882F6;
    margin-bottom: 10px;
}

.quote-section-background {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.quote-container {
    width: 980px;
}

.quote-container div {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-container p {
    display: flex;
    justify-content: flex-end;
    margin-right: 27px;
}

.ad-section-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    flex: 1;
}

.ad-container {
    background-color: #3882F6;
    width: 1260px;
    height: 100px;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    color: #FFFFFF;
}

.ad-button {
    height: 30px;
    width: 100px;
    border: solid #FFFFFF 1px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #FFFFFF;
}